In [1]:
import pandas as pd
df = pd.read_csv('Downloads/cancer_reg.csv')
df

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.7482,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.7805,2.5947,4.8219,1.8435,52.8561,6.1188
1,173.0,70,161.3,411.6,48127,43269,18.6,23.1112,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.2285,0.9691,2.2462,3.7414,45.3725,4.3331
2,102.0,50,174.7,349.7,49348,21026,14.6,47.5602,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.9222,0.7397,0.4659,2.7474,54.4449,3.7295
3,427.0,202,194.8,430.4,44243,75882,17.1,342.6373,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.7447,0.7826,1.1614,1.3626,51.0215,4.6038
4,57.0,26,144.4,350.1,49955,10321,12.5,0.0000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.1040,0.2702,0.6658,0.4921,54.0275,6.7967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,515.0,171,167.9,517.8,43892,77922,16.2,0.0000,"(42724.4, 45201]",41.4,...,NaN,44.0,39.8,18.7,92.2330,1.5792,0.8320,0.4420,46.9037,4.8205
196,465.0,163,158.6,470.8,52792,78288,12.7,102.1868,"(51046.4, 54545.6]",42.5,...,53.2,48.7,36.2,17.9,92.2840,4.3550,0.4282,0.5886,45.8188,5.4701
197,950.0,315,173.2,550.1,41757,130779,19.3,267.6271,"(40362.7, 42724.4]",41.7,...,NaN,45.0,41.0,22.4,93.0462,2.5172,0.6777,1.5229,45.5776,6.0732
198,559.0,214,183.8,508.2,48880,87071,18.2,195.2430,"(48021.6, 51046.4]",40.9,...,52.7,49.9,39.0,21.4,88.4555,5.9014,1.5170,0.3116,45.9863,5.0896
199,337.0,121,180.3,512.4,46387,48844,16.7,0.0000,"(45201, 48021.6]",43.8,...,48.8,44.9,40.7,20.8,96.2421,0.8497,0.5348,0.4783,49.4221,5.0524

In [2]:
df.fillna(df.mean())

/tmp/ipykernel_9581/634187881.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean())

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.7482,"(61494.5, 125635]",39.3,...,47.528485,41.6,32.9,14.0,81.7805,2.5947,4.8219,1.8435,52.8561,6.1188
1,173.0,70,161.3,411.6,48127,43269,18.6,23.1112,"(48021.6, 51046.4]",33.0,...,53.800000,43.6,31.1,15.3,89.2285,0.9691,2.2462,3.7414,45.3725,4.3331
2,102.0,50,174.7,349.7,49348,21026,14.6,47.5602,"(48021.6, 51046.4]",45.0,...,43.500000,34.9,42.1,21.1,90.9222,0.7397,0.4659,2.7474,54.4449,3.7295
3,427.0,202,194.8,430.4,44243,75882,17.1,342.6373,"(42724.4, 45201]",42.8,...,40.300000,35.0,45.3,25.0,91.7447,0.7826,1.1614,1.3626,51.0215,4.6038
4,57.0,26,144.4,350.1,49955,10321,12.5,0.0000,"(48021.6, 51046.4]",48.3,...,43.900000,35.1,44.0,22.7,94.1040,0.2702,0.6658,0.4921,54.0275,6.7967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,515.0,171,167.9,517.8,43892,77922,16.2,0.0000,"(42724.4, 45201]",41.4,...,47.528485,44.0,39.8,18.7,92.2330,1.5792,0.8320,0.4420,46.9037,4.8205
196,465.0,163,158.6,470.8,52792,78288,12.7,102.1868,"(51046.4, 54545.6]",42.5,...,53.200000,48.7,36.2,17.9,92.2840,4.3550,0.4282,0.5886,45.8188,5.4701
197,950.0,315,173.2,550.1,41757,130779,19.3,267.6271,"(40362.7, 42724.4]",41.7,...,47.528485,45.0,41.0,22.4,93.0462,2.5172,0.6777,1.5229,45.5776,6.0732
198,559.0,214,183.8,508.2,48880,87071,18.2,195.2430,"(48021.6, 51046.4]",40.9,...,52.700000,49.9,39.0,21.4,88.4555,5.9014,1.5170,0.3116,45.9863,5.0896
199,337.0,121,180.3,512.4,46387,48844,16.7,0.0000,"(45201, 48021.6]",43.8,...,48.800000,44.9,40.7,20.8,96.2421,0.8497,0.5348,0.4783,49.4221,5.0524

In [18]:
index = df.corr()['target_deathrate'].abs().sort_values().tail(7).index
df.corr()['pctunemployed16_over']

/tmp/ipykernel_9581/4179416124.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  index = df.corr()['target_deathrate'].abs().sort_values().tail(7).index
/tmp/ipykernel_9581/4179416124.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['pctunemployed16_over']

avganncount                0.186887
avgdeathsperyear           0.110982
target_deathrate           0.360741
incidencerate              0.159625
medincome                 -0.267651
popest2015                 0.114379
povertypercent             0.478776
studypercap                0.079027
medianage                 -0.066964
medianagemale             -0.070403
medianagefemale           -0.107326
avghouseholdsize           0.034690
percentmarried            -0.325034
pctnohs18_24               0.198673
pcths18_24                 0.313971
pctsomecol18_24           -0.199113
pctbachdeg18_24           -0.324190
pcths25_over               0.078567
pctbachdeg25_over         -0.363766
pctemployed16_over        -0.485150
pctunemployed16_over       1.000000
pctprivatecoverage        -0.550987
pctprivatecoveragealone   -0.512358
pctempprivcoverage        -0.388764
pctpubliccoverage          0.370292
pctpubliccoveragealone     0.479301
pctwhite                  -0.373195
pctblack                   0.209945
pctasian                   0.017611
pctotherrace               0.174796
pctmarriedhouseholds      -0.340378
birthrate                  0.086896
Name: pctunemployed16_over, dtype: float64

In [4]:
df_new = df[index]

In [5]:
df_new.describe()

,pctunemployed16_over,incidencerate,pctemployed16_over,pcths18_24,pctbachdeg25_over,pcths25_over,target_deathrate
count,200.000000,200.000000,194.000000,200.000000,200.000000,200.000000,200.000000
mean,8.084500,445.566199,52.564433,34.651000,13.767500,35.034000,175.122000
std,3.045469,58.797615,8.839239,9.538755,5.754159,8.075463,27.413149
min,1.200000,221.500000,27.000000,8.600000,3.200000,10.800000,114.500000
25%,6.000000,404.075000,46.075000,27.850000,9.275000,29.425000,158.600000
50%,7.900000,453.549400,53.050000,33.850000,12.500000,34.450000,171.650000
75%,9.825000,490.000000,59.975000,41.325000,18.000000,40.900000,190.350000
max,18.100000,591.000000,69.500000,62.700000,29.800000,52.700000,262.100000

In [6]:
import numpy as np

In [7]:
columns = df_new.shape[1]
# for column in df_new:
#     iqr = abs(df_new[column].quantile(0.75) - df_new[column].quantile(0.25))
#     print(iqr)
#     df_new = df_new.drop(df_new[column].loc[df_new[column] > df_new[column].quantile(0.75)+1.5*iqr],axis=0,inplace=True)

In [8]:
for value in df_new:
    q_low = df[value].quantile(0.25)
    q_hi  = df[value].quantile(0.75)
    iqr = q_hi - q_low
    df_filtered = df_new[(df_new[value] < q_hi+1.5*iqr) & (df[value] > q_low-1.5*iqr)]

In [9]:
df_filtered

,pctunemployed16_over,incidencerate,pctemployed16_over,pcths18_24,pctbachdeg25_over,pcths25_over,target_deathrate
0,8.0,489.8,51.9,39.5,19.6,23.2,164.9
1,7.8,411.6,55.9,22.4,22.7,26.0,161.3
2,7.0,349.7,45.9,36.6,16.0,29.0,174.7
3,12.1,430.4,48.3,41.2,9.3,31.6,194.8
4,4.8,350.1,48.2,43.0,15.0,33.4,144.4
...,...,...,...,...,...,...,...
195,8.2,517.8,54.3,32.9,10.3,40.9,167.9
196,7.3,470.8,56.9,27.7,12.5,34.1,158.6
197,7.8,550.1,53.6,25.0,11.3,35.5,173.2
198,5.4,508.2,53.8,33.7,12.8,35.6,183.8
199,7.1,512.4,53.6,36.4,9.5,39.2,180.3

In [10]:
df_filtered.describe()

,pctunemployed16_over,incidencerate,pctemployed16_over,pcths18_24,pctbachdeg25_over,pcths25_over,target_deathrate
count,194.000000,194.000000,188.000000,194.000000,194.000000,194.000000,194.000000
mean,7.961856,444.310521,52.913298,34.375258,13.974742,34.865464,172.804124
std,2.947887,59.041007,8.726558,9.071798,5.700698,8.107592,24.338229
min,1.200000,221.500000,27.000000,10.600000,3.200000,10.800000,114.500000
25%,6.000000,402.725000,46.500000,27.750000,9.300000,29.050000,158.450000
50%,7.900000,453.549400,53.500000,33.750000,12.600000,34.250000,170.900000
75%,9.650000,489.250000,60.100000,41.175000,18.075000,40.200000,189.325000
max,18.100000,591.000000,69.500000,61.700000,29.800000,52.700000,236.700000

In [11]:
df_filtered = df_filtered/df_filtered.max()

In [12]:
df_filtered = df_filtered.dropna()

In [13]:
from sklearn.model_selection import train_test_split
Y = df_filtered['target_deathrate']
df_filtered.drop(columns = 'target_deathrate', inplace = True)
X_train, X_test, y_train, y_test = train_test_split(df_filtered, Y, test_size=0.33)
X_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)
X_train.head()

,pctunemployed16_over,incidencerate,pctemployed16_over,pcths18_24,pctbachdeg25_over,pcths25_over
0,0.475138,0.827073,0.753957,0.591572,0.409396,0.722960
1,0.524862,0.767427,0.530935,0.468395,0.251678,0.671727
2,0.353591,0.856007,0.873381,0.382496,0.674497,0.502846
3,0.552486,0.946024,0.762590,0.538088,0.654362,0.647059
4,0.320442,0.746024,0.939568,0.431118,0.667785,0.510436

In [14]:
theta = [0.5,0.5,0.5,0.5,0.5,0.5]
def hypothesis(theta, X):
    return theta*X
def Cost(X, y, theta):
    y1 = hypothesis(theta, X)
    y1=np.sum(y1, axis=1)
    return sum(np.sqrt((y1-y)**2))/(2*len(X))
def gradientDescent(X, y, theta, alpha, epoch):
    costs = []  
    k = 0
    while k < epoch:        
        y1 = hypothesis(theta, X)
        y1 = np.sum(y1, axis=1)
        for c in range(0, len(X.columns)):
            theta[c] = theta[c] - alpha*(sum((y1-y)*X.iloc[:,c])/len(X))
        cost = Cost(X, y, theta)
        costs.append(cost)
        k += 1
    return costs, cost, theta
cost , c , theta = gradientDescent(X_train,y_train,theta,0.1123,2700)
c

0.029438057638342167

In [15]:
y_new = hypothesis(theta, X_test)
y_new = np.sum(y_new, axis=1)

In [16]:


from sklearn.metrics import mean_squared_error
print('RMSE:', np.sqrt(mean_squared_error(y_test,y_new)))

RMSE: 0.07775730760285195

In [17]:
rmspe = np.sqrt(np.mean(np.square(((y_test - y_new) / y_test)), axis=0))
rmspe

0.1106276740923122