In [15]:
import pandas as pd
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation
import numpy as np

df = pd.read_csv('D:/210968186/B1/movielens/ratings.csv')
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [26]:
df2 = pd.pivot_table(df,index="userId",columns="movieId",values="rating",fill_value=0)
df2

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

In [59]:
array = pd.DataFrame(data=pairwise_distances(df2, Y=None, metric='cosine')[24]).nsmallest(6,columns=0).index
print("Most similar users are:")
for values in array:
    if(values != 24):
        print('User',values+1)

Most similar users are:
User 189
User 209
User 407
User 30
User 515

In [61]:
df3 = pd.read_csv('D:/210968186/B1/movielens/movies.csv')
df3

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [99]:
df_user1 = df.loc[df['userId']==1]
df_user338 = df.loc[df['userId']==338]
df4 = pd.DataFrame(df_user338.movieId.isin(df_user1.movieId).values.astype(int), df_user338.movieId.values)
print('Movies watched by both:\n',df3['title'].loc[df3['movieId'].isin(df4.loc[df4[0]==1].index)])
print('Rating given in order by user1:\n',df_user1['rating'].loc[df_user1['movieId'].isin(df4.loc[df4[0]==1].index)])
print('\nRating given in order by user338:\n',df_user338['rating'].loc[df_user338['movieId'].isin(df4.loc[df4[0]==1].index)])

Movies watched by both:
 46            Usual Suspects, The (1995)
257                  Pulp Fiction (1994)
461              Schindler's List (1993)
510     Silence of the Lambs, The (1991)
2226                   Fight Club (1999)
Name: title, dtype: object
Rating given in order by user1:
 4      5.0
16     3.0
28     5.0
34     4.0
192    5.0
Name: rating, dtype: float64

Rating given in order by user338:
 51970    4.5
51971    4.5
51973    5.0
51974    4.0
51978    4.5
Name: rating, dtype: float64

In [110]:
df_user2 = df.loc[df['userId']==2]
df5 = pd.DataFrame(df_user338.movieId.isin(df_user2.movieId).values.astype(int), df_user338.movieId.values)
df_movie1 = df_user2.loc[df_user2['movieId'].isin(df5.loc[df5[0]==1].index)].loc[df['rating']>=4]
for values in df_movie1.movieId:
    print(df3['title'].loc[df3['movieId']==values])

4615    Kill Bill: Vol. 1 (2003)
Name: title, dtype: object

In [116]:
correlation = df2.corr()
correlation

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.231327,0.173213,-0.028917,0.192474,0.192686,0.143743,0.085477,0.177245,0.183382,...,-0.028906,-0.028906,-0.028906,-0.028906,-0.028906,-0.028906,-0.028906,-0.028906,-0.028906,-0.028906
2,0.231327,1.000000,0.191945,0.071269,0.200526,0.158341,0.127569,0.141540,-0.021045,0.285086,...,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291
3,0.173213,0.191945,1.000000,0.067143,0.370171,0.196442,0.351513,0.296897,0.275812,0.136916,...,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729
4,-0.028917,0.071269,0.067143,1.000000,0.167910,0.053755,0.258075,0.148726,-0.016025,0.056000,...,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138
5,0.192474,0.200526,0.370171,0.167910,1.000000,0.215503,0.429890,0.265777,0.308085,0.110833,...,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,-0.028906,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
193583,-0.028906,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
193585,-0.028906,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
193587,-0.028906,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
193609,-0.028906,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,0.060859,...,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,1.000000

ValueError: No group keys passed!

In [122]:
a = int(df3['movieId'].loc[df3['title'].str.startswith('Godfather, The')])

858

In [140]:
for values in correlation.iloc[858].nlargest(6).index:
    print(df3['title'].loc[df3['movieId']==values])

859    Howling, The (1980)
Name: title, dtype: object
4124    Beast Within, The (1982)
Name: title, dtype: object
3864    Silver Bullet (Stephen King's Silver Bullet) (...
Name: title, dtype: object
2185    Psycho II (1983)
Name: title, dtype: object
3941    Swarm, The (1978)
Name: title, dtype: object
2186    Psycho III (1986)
Name: title, dtype: object